<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-to-do-list-heading" data-cy="ToDoListCreateUpdateHeading" jhiTranslate="familyToDoApp.toDoList.home.createOrEditLabel">
        Create or edit a To Do List
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="familyToDoApp.toDoList.label" for="field_label">Label</label>
          <input type="text" class="form-control" name="label" id="field_label" data-cy="label" formControlName="label" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="familyToDoApp.toDoList.status" for="field_status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null">{{ 'familyToDoApp.Status.null' | translate }}</option>
            <option *ngFor="let status of statusValues" [value]="status">{{ 'familyToDoApp.Status.' + status | translate }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="familyToDoApp.toDoList.creationTimestamp" for="field_creationTimestamp"
            >Creation Timestamp</label
          >
          <div class="d-flex">
            <input
              id="field_creationTimestamp"
              data-cy="creationTimestamp"
              type="datetime-local"
              class="form-control"
              name="creationTimestamp"
              formControlName="creationTimestamp"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="familyToDoApp.toDoList.lastModificationTimestamp" for="field_lastModificationTimestamp"
            >Last Modification Timestamp</label
          >
          <div class="d-flex">
            <input
              id="field_lastModificationTimestamp"
              data-cy="lastModificationTimestamp"
              type="datetime-local"
              class="form-control"
              name="lastModificationTimestamp"
              formControlName="lastModificationTimestamp"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label jhiTranslate="familyToDoApp.toDoList.affectedTo" for="field_affectedTos">Affected To</label>
          <select
            class="form-control"
            id="field_affectedTos"
            data-cy="affectedTo"
            multiple
            name="affectedTos"
            formControlName="affectedTos"
            [compareWith]="compareProfil"
          >
            <option [ngValue]="profilOption" *ngFor="let profilOption of profilsSharedCollection">{{ profilOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="familyToDoApp.toDoList.owner" for="field_owner">Owner</label>
          <select class="form-control" id="field_owner" data-cy="owner" name="owner" formControlName="owner" [compareWith]="compareProfil">
            <option [ngValue]="null"></option>
            <option [ngValue]="profilOption" *ngFor="let profilOption of profilsSharedCollection">{{ profilOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
