<div class="d-flex flex-row">
  <div class="d-flex flex-column p-5 gap-5 align-items-center col-4 justify-content-center text-center">
    <h1>Welcome!</h1>

    <h3>To keep connected with us please login with your personal info</h3>

    <a class="btn rounded-pill" style="background-color: #217b64; color: #d5efe8" (click)="toSignIn()"
      ><fa-icon icon="sign-in-alt"></fa-icon> Sign In</a
    >
  </div>

  <div
    class="d-flex flex-column gap-5 p-5 justify-content-center align-items-center col-8 text-center"
    style="background-color: #d5efe8; color: #217b64"
  >
    <div class="row">
      <span>
        <a class="btn rounded-pill" style="background-color: #217b64; color: #d5efe8" (click)="toHome()"
          ><fa-icon icon="home"></fa-icon> Home</a
        >
      </span>
    </div>
    <div class="d-flex flex-column justify-content-center align-items-center text-center">
      <div>
        <h1 data-cy="registerTitle">Create account</h1>

        <div class="alert alert-success" *ngIf="success" jhiTranslate="register.messages.success">
          <strong>Registration saved!</strong> Please check your email for confirmation.
        </div>

        <div class="alert alert-danger" *ngIf="error" jhiTranslate="register.messages.error.fail">
          <strong>Registration failed!</strong> Please try again later.
        </div>

        <div class="alert alert-danger" *ngIf="errorUserExists" jhiTranslate="register.messages.error.userexists">
          <strong>Login name already registered!</strong> Please choose another one.
        </div>

        <div class="alert alert-danger" *ngIf="errorEmailExists" jhiTranslate="register.messages.error.emailexists">
          <strong>Email is already in use!</strong> Please choose another one.
        </div>

        <div class="alert alert-danger" *ngIf="doNotMatch" jhiTranslate="global.messages.error.dontmatch">
          The password and its confirmation do not match!
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <div>
        <form
          name="form"
          class="form d-flex flex-column gap-3 col-12"
          role="form"
          (ngSubmit)="register()"
          [formGroup]="registerForm"
          *ngIf="!success"
        >
          <div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"><fa-icon icon="user"></fa-icon></span>

              <input
                type="text"
                class="form-control"
                id="login"
                name="login"
                placeholder="{{ 'global.form.username.placeholder' | translate }}"
                formControlName="login"
                data-cy="username"
                #login
              />
            </div>

            <div *ngIf="registerForm.get('login')!.invalid && (registerForm.get('login')!.dirty || registerForm.get('login')!.touched)">
              <small
                class="form-text text-danger"
                *ngIf="registerForm.get('login')?.errors?.required"
                jhiTranslate="register.messages.validate.login.required"
              >
                Your username is required.
              </small>

              <small
                class="form-text text-danger"
                *ngIf="registerForm.get('login')?.errors?.minlength"
                jhiTranslate="register.messages.validate.login.minlength"
              >
                Your username is required to be at least 1 character.
              </small>

              <small
                class="form-text text-danger"
                *ngIf="registerForm.get('login')?.errors?.maxlength"
                jhiTranslate="register.messages.validate.login.maxlength"
              >
                Your username cannot be longer than 50 characters.
              </small>

              <small
                class="form-text text-danger"
                *ngIf="registerForm.get('login')?.errors?.pattern"
                jhiTranslate="register.messages.validate.login.pattern"
              >
                Your username is invalid.
              </small>
            </div>
          </div>

          <div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"><fa-icon icon="envelope"></fa-icon></span>

              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                placeholder="{{ 'global.form.email.placeholder' | translate }}"
                formControlName="email"
                data-cy="email"
              />
            </div>

            <div *ngIf="registerForm.get('email')!.invalid && (registerForm.get('email')!.dirty || registerForm.get('email')!.touched)">
              <small
                class="form-text text-danger"
                *ngIf="registerForm.get('email')?.errors?.required"
                jhiTranslate="global.messages.validate.email.required"
              >
                Your email is required.
              </small>

              <small
                class="form-text text-danger"
                *ngIf="registerForm.get('email')?.errors?.invalid"
                jhiTranslate="global.messages.validate.email.invalid"
              >
                Your email is invalid.
              </small>

              <small
                class="form-text text-danger"
                *ngIf="registerForm.get('email')?.errors?.minlength"
                jhiTranslate="global.messages.validate.email.minlength"
              >
                Your email is required to be at least 5 characters.
              </small>

              <small
                class="form-text text-danger"
                *ngIf="registerForm.get('email')?.errors?.maxlength"
                jhiTranslate="global.messages.validate.email.maxlength"
              >
                Your email cannot be longer than 50 characters.
              </small>
            </div>
          </div>

          <div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"><fa-icon icon="lock"></fa-icon></span>

              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                placeholder="{{ 'global.form.newpassword.placeholder' | translate }}"
                formControlName="password"
                data-cy="firstPassword"
              />
            </div>

            <div
              *ngIf="
                registerForm.get('password')!.invalid && (registerForm.get('password')!.dirty || registerForm.get('password')!.touched)
              "
            >
              <small
                class="form-text text-danger"
                *ngIf="registerForm.get('password')?.errors?.required"
                jhiTranslate="global.messages.validate.newpassword.required"
              >
                Your password is required.
              </small>

              <small
                class="form-text text-danger"
                *ngIf="registerForm.get('password')?.errors?.minlength"
                jhiTranslate="global.messages.validate.newpassword.minlength"
              >
                Your password is required to be at least 4 characters.
              </small>

              <small
                class="form-text text-danger"
                *ngIf="registerForm.get('password')?.errors?.maxlength"
                jhiTranslate="global.messages.validate.newpassword.maxlength"
              >
                Your password cannot be longer than 50 characters.
              </small>
            </div>

            <jhi-password-strength-bar [passwordToCheck]="registerForm.get('password')!.value"></jhi-password-strength-bar>
          </div>

          <div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"><fa-icon icon="lock"></fa-icon></span>

              <input
                type="password"
                class="form-control"
                id="confirmPassword"
                name="confirmPassword"
                placeholder="{{ 'global.form.confirmpassword.placeholder' | translate }}"
                formControlName="confirmPassword"
                data-cy="secondPassword"
              />
            </div>

            <div
              *ngIf="
                registerForm.get('confirmPassword')!.invalid &&
                (registerForm.get('confirmPassword')!.dirty || registerForm.get('confirmPassword')!.touched)
              "
            >
              <small
                class="form-text text-danger"
                *ngIf="registerForm.get('confirmPassword')?.errors?.required"
                jhiTranslate="global.messages.validate.confirmpassword.required"
              >
                Your confirmation password is required.
              </small>

              <small
                class="form-text text-danger"
                *ngIf="registerForm.get('confirmPassword')?.errors?.minlength"
                jhiTranslate="global.messages.validate.confirmpassword.minlength"
              >
                Your confirmation password is required to be at least 4 characters.
              </small>

              <small
                class="form-text text-danger"
                *ngIf="registerForm.get('confirmPassword')?.errors?.maxlength"
                jhiTranslate="global.messages.validate.confirmpassword.maxlength"
              >
                Your confirmation password cannot be longer than 50 characters.
              </small>
            </div>
          </div>

          <button
            type="submit"
            [disabled]="registerForm.invalid"
            class="btn rounded-pill mt-5"
            style="background-color: #217b64; color: #d5efe8"
            data-cy="submit"
          >
            <fa-icon icon="sign-in-alt"></fa-icon> Sign up
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
